[submodule "third/cmdline_parser/gflags"]
	path = third/cmdline_parser/gflags
	url = https://github.com/gflags/gflags.git
[submodule "third/lib_manager/vcpkg"]
	path = third/lib_manager/vcpkg
	url = https://github.com/Microsoft/vcpkg.git
